apiVersion: v1
kind: ConfigMap
metadata:
  name: bookie-config
  namespace: __NPH_NAMESPACE
  labels:
    app: bookie
    component: nalej-bus
    cluster: management
data:
  PULSAR_MEM: "\" -Xms64m -Xmx256m -XX:MaxDirectMemorySize=256m\""
  dbStorage_writeCacheMaxSizeMb: "32" # Write cache size (direct memory)
  dbStorage_readAheadCacheMaxSizeMb: "32" # Read cache size (direct memory)
  zkServers: zookeeper.__NPH_NAMESPACE.svc:2181
  statsProviderClass: org.apache.bookkeeper.stats.prometheus.PrometheusMetricsProvider